{% extends 'layout/front.html.twig' %}

{% block body %}


    <main>

        <div class="mb-4 mt-4">
            <div class="container-fluid">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col-8 p-0">
                        {{ form_row(form.q) }}
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary ">Recherche</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="container-lg">

            <div class="row">
                <div class="col-12">
                    <p>Chansons trouvée(s) pour <b>{{ search.q }}</b></p>
                </div>
                {% for song in songs %}
                    <div class="col-lg-3 col-md-4 col-sm-6 song-item">
                        <a href="{{ path("song.show",{id: song.id}) }}">
                            <img class="poster" src="{{ vich_uploader_asset(song,'imageFile') }}">
                        </a>
                        <h4 class="song-title">{{ song.title }}</h4>
                        <p class="singer">{{ song.singer }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}