{% extends 'layout/front.html.twig' %}

{% block body %}

    <main>
        <div class="container-lg">

            <div class="row">
                <div class="col-lg-8">

                    <div class="container-lg">
                        <div class="row  pb-4 mb-4">
                            <div class="col-12 p-0">
                                <img class="single-poster" src="{{ vich_uploader_asset(song,'imageFile') }}">
                                <audio class="w-100" src="{{ vich_uploader_asset(song,'songFile') }}" controls></audio>
                            </div>
                            <div class="col-12 p-0">
                                <h4 class="song-title"><i class="fa fa-music"></i> {{ song.title }}</h4>
                                <p class="singer"><i class="fa fa-user"></i> {{ song.singer }}</p>
                                <p class="song-info"><i class="fa fa-download"></i> {{ song.time }}</p>
                                <p class="song-info"><i class="fa fa-clock"></i> {{ song.time }} | <i class="fa fa-archive"></i> {{ song.size }} MB</p>
                                <a href="{{ path('song.download', {id: song.id}) }}" class="btn btn-primary" >Télecharger <i class="fa fa-download"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

                <!--right column -->
                <div class="col-lg-4 single-right-column">
                    <div>
                        <h3>Tendances</h3>
                    </div>

                    <div class="row">

                        {% for song in trends %}
                        <!--right item-->
                        <div class="col-12">
                            <div class="d-inline-flex w-100 single-right-item p-1">
                                <img class="col-4 float-left radius-2" src="{{ vich_uploader_asset(song,'imageFile') }}">
                                <div class="col-8 ">
                                    <a href="#" class="single-right-title text-decoration-none">{{ song.title }}</a>
                                    <p class="single-right-singer">{{ song.singer }}</p>
                                    <span class="views mr-4">1000</span><span class="views mr-4">{{ song.size }}MB</span>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}