{% block aside %}

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <a href="{{ path('user.logout') }}">Deconnexion</a>
        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/img/yves.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ app.user.username }}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <!--left nav item -->
                    <li class="nav-item">
                        <a href="{{ path("admin.dashboard") }}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p> Tableau de bord </p>
                        </a>
                    </li>
                    <!-- /.left nav item -->

                    <li class="nav-item">
                        <a href="{{ path("admin.songs.list") }}" class="nav-link">
                            <i class="nav-icon fas fa-music"></i>
                            <p> Toutes Les Chansons </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path("admin.song.add") }}" class="nav-link">
                            <i class="nav-icon fas fa-plus"></i>
                            <p> Nouvelle Chanson </p>
                        </a>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tag"></i>
                            <p>
                                Categories
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('admin.categories.index') }}" class="nav-link">
                                    <i class="nav-icon fas fa-tags"></i>
                                    <p>Toutes Les Categories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('admin.category.add') }}" class="nav-link">
                                    <i class="nav-icon fas fa-plus"></i>
                                    <p>Ajouter une categorie</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

{% endblock %}